<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

	<Product
		Id="*"
		Name="RemoteSFTPSync"
		Language="1033"
		Version="1.0"
		Manufacturer="Synergex"
		UpgradeCode="6000f870-b811-4e22-b80b-5b8956317d09">

		<Package
			InstallerVersion="500"
			Compressed="yes"
			InstallScope="perMachine"
			Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<!-- ************************************************************************************************************* -->
		<!-- Terminate the installation if .NET Framework 4.7.2 is not installed -->

		<PropertyRef Id="NETFRAMEWORK45" />
		<Condition Message="[ProductName] requires .NET Framework 4.7.2 or later to be installed.">
			<![CDATA[Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 >= "#461808")]]>
		</Condition>

		<!-- ************************************************************************************************************* -->
		<!-- Search the registry to determine if Synergy/DE is installed and terminate the installation if not. -->

		<Property Id="SDEINSTALLED">
			<RegistrySearch Id="SdeInstalledValue" Root="HKLM" Key="SOFTWARE\Synergex\Install" Name="SDELOC" Type="raw" />
		</Property>
		<Condition Message="[ProductName] requires Synergy/DE to be installed.">
			<![CDATA[Installed OR SDEINSTALLED]]>
		</Condition>

		<!-- ************************************************************************************************************* -->
		<!-- Declare properties to capture user input from the custom configuration UI page. -->

		<Property Id="LOCAL_ROOT" Secure="yes" />
		<Property Id="LOCAL_SEARCH_PATTERN" Secure="yes" />
		<Property Id="REMOTE_HOST" Secure="yes" />
		<Property Id="REMOTE_USER" Secure="yes" />
		<Property Id="REMOTE_PASSWORD" Secure="yes" />
		<Property Id="REMOTE_PATH" Secure="yes" />

		<!-- ************************************************************************************************************* -->
		<!-- Select our custom UI (based on WixUI_FeatureTree, with an additonal dialog added) -->

		<UIRef Id="CustomUI"/>
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

		<!-- ************************************************************************************************************* -->
		<!-- Directory structure -->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="RemoteSFTPSync" />
			</Directory>
		</Directory>

		<!-- ************************************************************************************************************* -->
		<!-- ComponentGroup and components -->

		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Primary project output -->
			<Component Id="cMainExecutable" Guid="*" Win64="yes">
				<File Id="fRemoteFTPSyncServiceExe" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\RemoteSFTPSyncService.exe" KeyPath="yes" />
				<!-- Service registration -->
				<!--<ServiceInstall
					Id="RemoteSftpServiceInstaller"
					Type="ownProcess"
					Name="RemoteSFTPSync"
					DisplayName="Remote SFTP File Sync Service"
					Description="Synchronizes files from SFTP server."
					Start="auto"
					ErrorControl="normal"
					Account="LocalSystem"/>
				<ServiceControl Id="StartService" Name="RemoteSFTPSync" Start="install" Stop="both" Remove="uninstall" Wait="yes" />-->
			</Component>

			<!-- Other files -->

			<Component Id="cAppSettingsJson" Guid="*" Win64="yes">
				<File Id="fAppSettingsJson" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\appsettings.json" />
			</Component>

			<Component Id="cRemoteSFTPSyncCorePdb" Guid="*" Win64="yes">
				<File Id="fRemoteSFTPSyncCorePdb" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\RemoteSFTPSyncCore.pdb" />
			</Component>

			<Component Id="cRemoteSFTPSyncCoreRuntimeConfigJson" Guid="*" Win64="yes">
				<File Id="fRemoteSFTPSyncCoreRuntimeConfigJson" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\RemoteSFTPSyncCore.runtimeconfig.json" />
			</Component>

			<Component Id="cRemoteSFTPSyncServicePdb" Guid="*" Win64="yes">
				<File Id="fRemoteSFTPSyncServicePdb" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\RemoteSFTPSyncService.pdb" />
			</Component>

			<Component Id="cRenciSshNetPdb" Guid="*" Win64="yes">
				<File Id="fRenciSshNetPdb" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\Renci.SshNet.pdb" />
			</Component>

			<Component Id="cRenciSshNetXml" Guid="*" Win64="yes">
				<File Id="fRenciSshNetXml" Source="..\..\..\RemoteSFTPSyncService\bin\Release\net8.0\publish\win-x64\Renci.SshNet.xml" />
			</Component>

			<Component Id="cNssmExe" Guid="*" Win64="yes">
				<File Id="fNssmExe" Source="..\..\..\nssm\nssm.exe" />
			</Component>

			<Component Id="cLicenseRtf" Guid="*" Win64="yes">
				<File Id="fLicenseRtf" Source="..\..\license.rtf" />
			</Component>

			<Component Id="cCustomActionsDll" Guid="*" Win64="yes">
				<File Id="fCustomActionsDll" Source="$(var.RemoteSFTPSyncSetupCustomActions.TargetDir)\RemoteSFTPSyncSetupCustomActions.CA.dll" />
			</Component>

		</DirectoryRef>

		<!-- ************************************************************************************************************* -->
		<!-- Custom action to rewrite appsettings.json -->

		<Binary
			Id="CustomActionsDll"
			SourceFile="$(var.RemoteSFTPSyncSetupCustomActions.TargetDir)\RemoteSFTPSyncSetupCustomActions.CA.dll" />

		<CustomAction
			Id="SetReplaceTokensData"
			Property="ReplaceAppSettingsTokens"
			Value="INSTALLFOLDER=[INSTALLFOLDER];LOCAL_ROOT=[LOCAL_ROOT];LOCAL_SEARCH_PATTERN=[LOCAL_SEARCH_PATTERN];REMOTE_HOST=[REMOTE_HOST];REMOTE_USER=[REMOTE_USER];REMOTE_PASSWORD=[REMOTE_PASSWORD];REMOTE_PATH=[REMOTE_PATH]"/>

		<CustomAction
			Id="ReplaceAppSettingsTokens"
			BinaryKey="CustomActionsDll"
			DllEntry="ReplaceTokens"
			Execute="deferred"
			Return="check"/>

		<InstallExecuteSequence>
			<Custom Action="SetReplaceTokensData" After="InstallFiles">NOT Installed</Custom>
			<Custom Action="ReplaceAppSettingsTokens" After="SetReplaceTokensData">NOT Installed</Custom>
		</InstallExecuteSequence>

		<!-- ************************************************************************************************************* -->
		<!-- Main (only) product feature -->

		<Feature Id="ProductFeature" Title="RemoteFTPSyncSetup" Level="1">
			<ComponentRef Id="cMainExecutable" />
			<ComponentRef Id="cAppSettingsJson" />
			<ComponentRef Id="cRemoteSFTPSyncCorePdb" />
			<ComponentRef Id="cRemoteSFTPSyncCoreRuntimeConfigJson" />
			<ComponentRef Id="cRemoteSFTPSyncServicePdb" />
			<ComponentRef Id="cRenciSshNetPdb" />
			<ComponentRef Id="cRenciSshNetXml" />
			<ComponentRef Id="cNssmExe" />
			<ComponentRef Id="cLicenseRtf" />
			<ComponentRef Id="cCustomActionsDll" />
		</Feature>

	</Product>
</Wix>
