<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Product
		Id="*"
		Name="SFTPSync"
		Language="1033"
		Version="1.0"
		Manufacturer="Synergex"
		UpgradeCode="6000f870-b811-4e22-b80b-5b8956317d09">

		<Package
			InstallerVersion="500"
			Compressed="yes"
			InstallScope="perMachine"
			Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

		<!-- ************************************************************************************************************* -->
		<!-- Set the icon to be used in "Programs & Features" -->
		<Icon Id="SFTPSyncIcon" SourceFile="..\SFTPSync\SFTPSync.ico"/>
		<Property Id="ARPPRODUCTICON" Value="SFTPSyncIcon" />

		<!-- ************************************************************************************************************* -->
		<!-- Select our custom UI (based on WixUI_FeatureTree, with an additonal dialog added) -->

		<UIRef Id="WixUI_Mondo"/>
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

		<!-- ************************************************************************************************************* -->
		<!-- Directory structure -->

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="SFTPSync" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="SFTPSyncProgramMenuFolder" Name="SFTP Sync" />
			</Directory>
		</Directory>

		<!-- ************************************************************************************************************* -->
		<!-- ComponentGroup and components -->

		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Primary project output -->
			<Component Id="cSFTPSyncExe" Guid="*" Win64="yes">
				<File Id="fSFTPSyncExe" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\SFTPSync.exe" KeyPath="yes" />
			</Component>

			<!-- Other files -->

			<Component Id="cSFTPSyncIco" Guid="*" Win64="yes">
				<File Id="fSFTPSyncIco" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\SFTPSync.ico" />
			</Component>

			<Component Id="cSFTPSyncPdb" Guid="*" Win64="yes">
				<File Id="fSFTPSyncPdb" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\SFTPSync.pdb" />
			</Component>

			<Component Id="cAppSettingsJson" Guid="*" Win64="yes">
				<File Id="fAppSettingsJson" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\appsettings.json" />
			</Component>

			<Component Id="cD3DCompiler47cor3Dll" Guid="*" Win64="yes">
				<File Id="fD3DCompiler47cor3Dll" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\D3DCompiler_47_cor3.dll" />
			</Component>

			<Component Id="cPenImcCor3Dll" Guid="*" Win64="yes">
				<File Id="fPenImcCor3Dll" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\PenImc_cor3.dll" />
			</Component>

			<Component Id="cPresentationNativeCor3Dll" Guid="*" Win64="yes">
				<File Id="fPresentationNativeCor3Dll" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\PresentationNative_cor3.dll" />
			</Component>

			<Component Id="cRenciSshNetPdb" Guid="*" Win64="yes">
				<File Id="fRenciSshNetPdb" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\Renci.SshNet.pdb" />
			</Component>

			<Component Id="cRenciSshNetXml" Guid="*" Win64="yes">
				<File Id="fRenciSshNetXml" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\Renci.SshNet.xml" />
			</Component>

			<Component Id="cVCRuntime140Cor3Dll" Guid="*" Win64="yes">
				<File Id="fVCRuntime140Cor3Dll" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\vcruntime140_cor3.dll" />
			</Component>

			<Component Id="cWpfGfxCor3Dll" Guid="*" Win64="yes">
				<File Id="fWpfGfxCor3Dll" Source="..\..\..\SFTPSync\bin\Release\net8.0-windows\publish\win-x64\wpfgfx_cor3.dll" />
			</Component>

			<Component Id="cLicenseRtf" Guid="*" Win64="yes">
				<File Id="fLicenseRtf" Source="..\..\license.rtf" />
			</Component>

		</DirectoryRef>

		<Component Id="cShortcut" Guid="*" Directory="SFTPSyncProgramMenuFolder">
			<Shortcut Id="SFTPSyncShortcut"
					  Name="SFTP Sync"
					  Description="Launch SFTP Sync"
					  Target="[INSTALLFOLDER]SFTPSync.exe"
					  WorkingDirectory="INSTALLFOLDER" />
			<!-- Ensure directory removal on uninstall -->
			<RemoveFolder Id="RemoveSFTPSyncProgramMenuFolder"
						  Directory="SFTPSyncProgramMenuFolder"
						  On="uninstall"/>
			<!-- Registry key to avoid ICE43 error -->
			<RegistryValue Root="HKCU" Key="Software\SFTPSync" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
			<!-- Remove shortcut on uninstall -->
			<RemoveFile Id="RemoveSFTPSyncShortcut"
						Name="SFTP Sync.lnk"
						Directory="SFTPSyncProgramMenuFolder"
						On="uninstall"/>
		</Component>

		<!-- ************************************************************************************************************* -->
		<!-- Main (only) product feature -->

		<Feature Id="ProductFeature" Title="RemoteFTPSyncSetup" Level="1">
			<ComponentRef Id="cSFTPSyncExe" />
			<ComponentRef Id="cSFTPSyncIco" />
			<ComponentRef Id="cSFTPSyncPdb" />
			<ComponentRef Id="cAppSettingsJson" />
			<ComponentRef Id="cD3DCompiler47cor3Dll" />
			<ComponentRef Id="cPenImcCor3Dll" />
			<ComponentRef Id="cPresentationNativeCor3Dll" />
			<ComponentRef Id="cRenciSshNetPdb" />
			<ComponentRef Id="cRenciSshNetXml" />
			<ComponentRef Id="cVCRuntime140Cor3Dll" />
			<ComponentRef Id="cWpfGfxCor3Dll" />
			<ComponentRef Id="cLicenseRtf" />
			<ComponentRef Id="cShortcut"/>
		</Feature>

	</Product>
</Wix>
